<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780158566616-m7ngq7hkbea36pi2dcc1n4eh920j3h7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780158566616-m7ngq7hkbea36pi2dcc1n4eh920j3h7f</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8gHsJUvY3h0GufWuSeLwA1oM3Cv6UZI</string>
	<key>GCM_SENDER_ID</key>
	<string>780158566616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-swiftui-ccc8d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-swiftui-ccc8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780158566616:ios:8bba801cd93d6ca9d157ad</string>
</dict>
</plist>